# https://github.com/jiangtao/mydotfiles/blob/master/.config/.editorconfig
root = true

[*]

# We recommend you to keep these unchanged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = true
indent_style = space
indent_size = 2
[*.{html}]
indent_size = 4


[*.md]
insert_final_newline = false
